SUPABASE_URL=https://rbbqzqnetinbnaqrzutx.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJiYnF6cW5ldGluYm5hcXJ6dXR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2MzIxNjgsImV4cCI6MjA4ODIwODE2OH0.B9-tH0wSyZwWvEpQunvADN9RAyyVppnUdKOxU08uOZ4
